$main-text: "Helvetica", sans-serif
$big-text: "Russo One", sans-serif
$alt-text: "Roboto Mono", monospace
$inter-text: "Inter Tight", sans-serif

$text-color: #fff
$text-color-secondary: #4b5156
$text-color-altblack: #27292b
$haze-text-color: #7547e5


$body-bg-color: #dee0e2
$bg-color: #f4f3f4
$bg-color-secondary: #cac3dd
$haze-bg-color: #7547e5

$container-border-radius: 10px
$card-border-radius: 5px

$gradient: linear-gradient(90deg, rgba(32,2,107,1) 0%, rgba(83,15,170,1) 35%, rgba(117,71,229,1) 100%)

    